@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
	font-family: "Baloo 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	/* Cores - Amarelos */
	--c47f17: #c47f17;
	--yellow-dark: #c47f17;
	--dbac2c: #dbac2c;
	--yellow: #dbac2c;
	--f1e9c9: #f1e9c9;
	--yellow-light: #f1e9c9;

	/* Cores - Roxos */
	--4b2995: #4b2995;
	--purple-dark: #4b2995;
	--8047f8: #8047f8;
	--purple: #8047f8;
	--ebe5f9: #ebe5f9;
	--purple-light: #ebe5f9;

	/* Base */
	--272221: #272221;
	--base-title: #272221;
	--403937: #403937;
	--base-subtitle: #403937;
	--574f4d: #574f4d;
	--base-text: #574f4d;
	--8d8686: #8d8686;
	--base-label: #8d8686;
	--d7d5d5: #d7d5d5;
	--base-hover: #d7d5d5;
	--e6e5e5: #e6e5e5;
	--base-button: #e6e5e5;
	--ededed: #ededed;
	--base-input: #ededed;
	--f3f2f2: #f3f2f2;
	--base-card: #f3f2f2;
	--fafafa: #fafafa;
	--background: #fafafa;
	--ffffff: #ffffff;
	--white: #ffffff;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.145 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.145 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Cores adicionadas */
	--color-c47f17: var(--c47f17);
	--color-yellow-dark: var(--yellow-dark);
	--color-dbac2c: var(--dbac2c);
	--color-yellow: var(--yellow);
	--color-f1e9c9: var(--f1e9c9);
	--color-yellow-light: var(--yellow-light);

	--color-4b2995: var(--4b2995);
	--color-purple-dark: var(--purple-dark);
	--color-8047f8: var(--8047f8);
	--color-purple: var(--purple);
	--color-ebe5f9: var(--ebe5f9);
	--color-purple-light: var(--purple-light);

	--color-272221: var(--272221);
	--color-base-title: var(--base-title);
	--color-403937: var(--403937);
	--color-base-subtitle: var(--base-subtitle);
	--color-574f4d: var(--574f4d);
	--color-base-text: var(--base-text);
	--color-8d8686: var(--8d8686);
	--color-base-label: var(--base-label);
	--color-d7d5d5: var(--d7d5d5);
	--color-base-hover: var(--base-hover);
	--color-e6e5e5: var(--e6e5e5);
	--color-base-button: var(--base-button);
	--color-ededed: var(--ededed);
	--color-base-input: var(--base-input);
	--color-f3f2f2: var(--f3f2f2);
	--color-base-card: var(--base-card);
	--color-fafafa: var(--fafafa);
	--color-ffffff: var(--ffffff);
	--color-white: var(--white);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
